<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
    </head>
    <body>
        {% extends 'bootstrap/base.html'%}
        <!-- Navbar block  --> 
        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock %}
      
        <!-- Content block -->

        {% block content %}
        {%block styles %}
        {{super()}}
        <!--Importing the simple mde css and js files  -->
        <!-- {{ simplemde.css}}
        {{ simplemde.js }}
        {% endblock %} -->

        {% endblock%}
    </body>
</html>