{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Styles block -->

{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %} 

{% block content %}
{{ macro.displayBooks(books)}}
<h1 id="big" style="color:#6E2C00; text-align:center;font-family: 'Open Sans Condensed', sans-serif;font-size:50px;font-style:oblique">E-BOOK</h1>
<button><a href="book/new"style="color: rgb(70, 2, 2);font-size:20px">AddBook</a></button>

{% endblock %}
