<div class="navbar navbar-inverse" role="navigation">
  <link href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes%7CMarck+Script%7CMonoton&display=swap"
    rel="stylesheet">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-family: 'Changa', sans-serif; font-size: 20px; color: #ECF0F1"> E-Book </a>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <!-- <li style="color:white;padding:15px;">{{current_user.username}}</li> -->
        <li><a href="{{url_for('main.profile',uname=current_user.username)}}"
          style="font-family: 'Changa', sans-serif; font-size: 20px; color: #ECF0F1">Profile</a></li>
        <li><a href="{{url_for('auth.logout')}}" style="font-family: 'Changa', sans-serif; font-size: 20px; color: #ECF0F1">Sign out</a>
        </li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}" style="font-family: 'Changa', sans-serif; font-size: 20px; color: #ECF0F1">Sign in</a>
        </li>
        {%endif%}
      </ul>
    </div>



  </div>
</div>