<div class="navbar navbar-inverse" role="navigation" style="background-color: black;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"
              style="color:white;padding:15px;font-family: 'Courier New', Courier, monospace;font-style: italic;">Home</a>
          </li>
  
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('main.profile',uname=current_user.username)}}"
              style="color:white;padding:15px;font-family: 'Courier New', Courier, monospace;font-style: italic;">{{current_user.username}}</a>
          </li>
          <li><a href="{{url_for('auth.logout')}}"
              style="color:white;padding:15px;font-family: 'Courier New', Courier, monospace;font-style: italic;">Sign
              out</a></li>
          {% else %}
          <li><a href="{{url_for('auth.login')}}"
              style="color:white;padding:15px;font-family: 'Courier New', Courier, monospace;font-style: italic;">Login</a>
          </li>
          {%endif%}
        </ul>
      </div>
  
    </div>
  </div>